@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Iran Yekan";
}
@font-face {
  font-family: "Iran Yekan";
  src: url("/public/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.ttf");
}

.footer_bazargam {
  background-image: url("/public/images-for-bazargam/backgroundfooter.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .footer_bazargam {
    background-size: auto 100%;
  }
}
